#!/usr/bin/python3
## FIXME #!{{ ansible_python['executable'] }}
# -*- coding: utf-8 -*-

# Copyright (C) 2020 Robin Schneider <ypid@riseup.net>
# Copyright (C) 2020 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later

# {{ ansible_managed }}

from __future__ import print_function

from future import standard_library
standard_library.install_aliases()
import subprocess
import pathlib
import collections

from configparser import ConfigParser
from json import dumps
from glob import glob

output = {
    'installed': True,
    'interface': collections.defaultdict(dict),
}

for wg_conf in glob('/etc/wireguard/*.conf'):
    wg_conf = pathlib.Path(wg_conf)
    interface = wg_conf.stem
    config_string = subprocess.check_output(
        ['/usr/local/bin/wg-quick', 'strip-and-eval', interface],
        stderr=subprocess.PIPE,
        shell=False,
    ).decode('utf8')
    config = ConfigParser(strict=False)
    config.read_string(config_string)

    pubkey = subprocess.check_output(
        ['wg', 'pubkey'],
        input=config.get('Interface', 'PrivateKey').encode('utf8'),
        stderr=subprocess.PIPE,
        shell=False,
    ).decode('utf8').strip()

    output['interface'][interface].setdefault('Interface', {})
    output['interface'][interface]['Interface']['PublicKey'] = pubkey

print(dumps(output, sort_keys=True, indent=4))
