{#
 # Copyright (C) 2020 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
{% set facts_interfaces = {} %}
{% for host in groups[wireguard_inventory_group]|d([]) %}
{%   set _ = facts_interfaces.update({
    wireguard_interface: {
        'Interface': {
            'PublicKey': hostvars[host].wireguard__fact_public_key,
        }
    }
}) %}
{% endfor %}
{
    "interface": {{ facts_interfaces | to_json }}
}
