{# Copyright (C) 2018-2020 Robert Wimmer
 # Copyright (C)      2020-2021 Robin Schneider <ypid@riseup.net>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
{% macro print_peer_endpoint(host, format='wg-quick') %}
{%   if wireguard_dc['name']|d(0) != hostvars[host].wireguard_dc['name']|d(1) %}
{%     set endpoint_host = hostvars[host].wireguard_dc['endpoint']
                           |d(hostvars[host].wireguard_endpoint|d(host)) %}
{%     set endpoint_port = hostvars[host].wireguard_dc['port']
                           |d(hostvars[host].wireguard_port|d(wireguard_port)) %}
{%     if hostvars[host].wireguard_endpoint|d() == "" %}
{%       if format == "wg-quick" %}
# No endpoint defined for this peer.
{%       endif %}
{%     else %}
{%       if format == "wg-quick" %}
Endpoint = {{ endpoint_host }}:{{ endpoint_port }}
{%       elif format == "opnsense" %}
            <serveraddress>{{ endpoint_host }}</serveraddress>
            <serverport>{{ endpoint_port }}</serverport>
{%       endif %}
{%     endif %}
{%   endif %}
{% endmacro %}
